<div class="contenedor">
    <h1><%= nombrePagina %></h1>
    <% if(eventos.length>0) { %> 
    <div class="grid columnas-md-3 ">
        <% eventos.forEach(e => { %>  
            <%- include ('partials/card-evento.ejs',{e:e}) %>
        <% }); %> 
    </div>
    <% } else { %> 
        <p>Tu busqueda no tiene resultados</p>
    <% } %> 
</div>